@import "../../../styles/base";
.contact {
	font-family: "DM Serif Display";
	color: $font-gray;

	&_bg {
		z-index: -1;
		position: absolute;
		bottom: 0;
		width: 100vw;
	}
	&_list {
		display: flex;
		flex-direction: row;
		align-items: start;
		padding: 0 0 3em 5em;
	}
}
