@import "../../../styles/base";
.project {
	height: auto;
	width: 100%;
	font-family: "Caveat";
	font-size: 4rem;
	color: $font-gray;
	padding-bottom: 25vw;
	padding-top: 5vw;

	&_dots {
		height: 150px;
		position: absolute;
		right: 50px;
		z-index: -3;
	}

	&_title_wrapper {
		padding-top: 1em;
		padding-bottom: -1;
	}

	&_section_title {
		position: absolute;
		padding: 20px, 0, 30px;
		right: 100px;
		z-index: 2;
	}

	.project_items {
		z-index: -3;
	}
}
