@import "../../../styles/base";
@import "../../../styles/animation.scss";
.second {
	padding: 2rem;

	&_title {
		padding-left: 5rem;
		// text-align: right;
		font-size: 1.8rem;
		font-weight: bold;
		font-family: "dm-serif-display";
		color: $font-gray;
		animation: fadeIn 2s;
		z-index: 1;

		// &::after {
		// 	content: "";
		// 	width: 30px;
		// 	height: 30px;
		// 	display: inline-block;
		// 	background-color: rgb(250, 228, 188);
		// 	border-radius: 100%;
		// 	margin-left: -30px;
		// }
	}
}
