@import "../../../styles/base";
@import "../../../styles/animation.scss";
.desk {
	position: absolute;
	width: 100vw;
	z-index: -1;
}
.about {
	color: $font-gray;
	padding-top: 20px;
	height: 80vh;
	top: -20px;
	position: relative;
	z-index: 1;
	&_content {
		display: flex;
		flex-direction: row;
	}

	&_title {
		position: absolute;
		top: -100px;
		.dots_white {
			width: 250px;
			position: absolute;
			left: 0;
		}

		&_text {
			padding-top: 80px;
			padding-left: 5rem;
			font-size: 3.8vw;
			font-weight: 400;
			font-family: "Caveat";
			animation: fadeIn 2s;
			z-index: 2;
		}
	}
	.profile {
		height: 15vw;
		margin: 7vw 0 2vw;
		border-radius: 50%;
	}
	&_education {
		position: relative;
		padding-left: 10%;
		width: 25%;
		&_textbox {
			display: flex;
			position: absolute;
			left: 7vw;
		}
		&_title {
			position: relative;
			left: -20px;
			top: -3vw;
			font-family: "ChenYuluoyan", "serif";
			font-size: 3.3vw;
			writing-mode: vertical-rl;
			text-orientation: upright;
		}

		&_text {
			font-family: "Serif";
			font-weight: 600;
			font-size: 1.3vw;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			:first-child {
				padding-top: 3vw;
			}

			> p {
				padding-bottom: 1vw;
				position: inline-block;
			}

			&_master {
				padding-bottom: 5px;
				position: inline-flex;

				> span {
					display: inline-block;
				}
			}
		}
	}
	&_journey {
		position: relative;
		padding-left: 20px;
		width: 50%;
		font-family: "ChenYuluoyan";
		font-size: 3.3vw;
		&_wrap {
			display: inline-flex;
			vertical-align: middle;
			margin-top: -60px;
			.span {
				display: inline-block;
			}
		}
	}
}
